@model EntityLayer.Category
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Kategori Ekleme Sayfası</h3>

<br />

@using (Html.BeginForm("Kategori Ekle", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /> <br />
        @Html.Label("Açıklama Yazınız")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /> <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}


