@model EntityLayer.Heading
@{
    ViewBag.Title = "UpdateHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("UpdateHeading", "WriterPanel", FormMethod.Post))
{
    <div>       
        @Html.HiddenFor(x => x.HeadingId)
        @Html.HiddenFor(x => x.WriterId)
        @Html.HiddenFor(x => x.HeadingDate)
        <br />
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}


